<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Dropboxpacker</title>
<style type="text/css">
body {
font-family: 'Bitstream Vera Sans', Verdana, sans-serif;
margin: 0.5em 2em 0 2em;
}
a {
color: blue;
text-decoration: none;
}
a:hover {
color: blue;
text-decoration: underline;
}
</style>
</head>
<body>
<h1>Files</h1>
<% for filename in @files %>
<a href="<%=filename %>"><%=filename %></a>
<% end %>
</body>
</html>

